@mixin boton($display) {

    background-color: #4299E1;
    border: 0;
    color: #fff;
    padding: .7rem 1.2rem;
    font-size: 1.7rem;
    border-radius: 5px;
    cursor: pointer;
    display: $display;

    &:hover {
        background-color: darken($color: #4299E1, $amount: 7);
    }
};

@mixin tablet() {
    @media (min-width:768px) { @content }
};

@mixin movil() {
    @media (min-width:356px) { @content }
};
