@use '../base/variables' as v;
@use '../base/mixins' as m;

.admin-header {
    background-color: v.$azul;
    padding: 2rem;
    color: v.$blanco;

    @include m.tablet {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}

.admin-nav {

    display: flex;
    flex-direction: column;
    align-items: center;

    @include m.tablet {
        flex-direction: row;
    }

    a {
        color: v.$blanco;
        margin-right: 1rem;

        &:hover {
            font-weight: 700;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}

.catalogo {

    margin-top: 2rem;

    display: grid;
    place-items: center;

    @include m.movil {
        grid-template-columns: repeat(2, max-content);
        gap: 2rem;
    }

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(5, max-content);
        gap: 2rem;
    }
}

.libro {

    .imagen-libro {
        width: 170px;
        height: 270px;
    }

    margin-bottom: 2rem;

    .libro-datos {
        display: grid;
        grid-template-columns: max-content max-content max-content;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
    }

    .icono {
        width: 26px;
        cursor: pointer;
    }

    .icono-like:hover {
        fill: #2388DC;
    }

    .icono-fav:hover {
        fill: rgb(235, 235, 35);
    }

    .favorito {
        fill: rgb(235, 235, 35);
    }
}
